@model IEnumerable<Books.Models.City>

<div>
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <p>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary pull-right" })</p>
        </div>
    </div>
    <h2>Cities</h2>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.Country.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Country.Name)
        </td>
        <td>
            <span class="pull-right">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </span>
        </td>
    </tr>
}

</table>
